* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

#detail_Products .breadcrumb .breadcrumb-item a {
  color: black;
  text-decoration: none;
}
#detail_Products .carousel .carousel-indicators {
  margin: 0;
  position: unset;
}
#detail_Products .carousel .carousel-indicators button {
  width: -moz-max-content !important;
  width: max-content !important;
  border: 2px solid #efefef;
}
#detail_Products .carousel .carousel-indicators button.active img {
  border: 2px solid black;
}
#detail_Products .carousel .carousel-indicators button img {
  width: 70px;
  display: block;
}
#detail_Products .product_padding {
  padding-top: 100px;
}
#detail_Products .product_padding .product_title h1 {
  font-size: 20px;
  letter-spacing: 0.3px;
}
#detail_Products .product_padding .product_price .new_price {
  font-size: 18px;
  font-weight: 600;
}
#detail_Products .product_padding .product_promotion {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 10px 0;
  padding: 10px 0;
}
#detail_Products .product_padding .product_promotion .promotion_title {
  margin-bottom: 0;
  color: #8a041f;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
#detail_Products .product_padding .product_promotion b {
  font-weight: 600;
  font-size: 13px;
}
#detail_Products .product_padding .product_promotion button {
  padding: 2px 14px;
  border-radius: 50%;
  background: black;
}
#detail_Products .product_padding .product_promotion button i {
  color: white;
}
#detail_Products .product_padding .product_header {
  margin: 8px 0;
}
#detail_Products .product_padding .product_header #selected-size {
  margin-left: 3px;
  font-weight: 600;
}
#detail_Products .product_padding .product_header .product_huongDan #ButtonHD {
  position: absolute;
  right: 85px;
  background: none;
  color: black;
  border: none;
  text-decoration: underline;
  padding: 0;
}
#detail_Products .product_padding .product_header .product_huongDan #offcanvasRight {
  width: 60%;
}
#detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body .tabContent .tab-content .tab-pane p {
  font-size: 14px;
}
#detail_Products .product_padding .product_img img {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#detail_Products .product_padding form {
  font-size: 13px;
  font-weight: 400;
}
#detail_Products .product_padding form .product_size {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 0;
}
#detail_Products .product_padding form .product_size input {
  display: none;
}
#detail_Products .product_padding form .product_size input:checked + span {
  color: white;
  background: black !important;
  font-weight: 600;
}
#detail_Products .product_padding form .product_size span {
  cursor: pointer;
  border: 1px solid black;
  padding: 13px;
}
#detail_Products .product_padding form .product_size span:hover {
  background: #777;
  color: white;
}
#detail_Products .product_padding .product_themVaTim .btnThem {
  padding: 8px;
  width: 88%;
  border: none;
  background: black;
  color: #fff;
  font-weight: 600;
  margin: 20px 0;
}
#detail_Products .product_padding .product_themVaTim .product_heart {
  border: 1px solid black;
  padding: 20px;
  width: 20px;
  height: 20px;
  color: black;
  font-size: 25px;
}
#detail_Products .product_padding .product_themVaTim .product_heart i {
  position: relative;
  bottom: 18px;
  right: 12px;
}
#detail_Products .product_padding .btnDiaChi {
  padding: 8px;
  width: 100%;
  border: 1px solid black;
  background: white;
  margin-bottom: 30px;
}
#detail_Products .product_padding .btnDiaChi i {
  margin-right: 10px;
}
#detail_Products .product_padding #addressModal .address_modal_select #address_province {
  height: 50px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  border-radius: none;
}
#detail_Products .product_padding #addressModal .modal-body .address_list .address_item {
  margin-top: 10px;
  border: 1px solid #f1f1f1;
  padding: 15px;
  line-height: 1.5;
  background: #f7f7f7;
  font-weight: 600;
}
#detail_Products .product_padding #addressModal .modal-body .address_list .address_item h6 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#detail_Products .product_padding #addressModal .modal-body .address_list .address_item p {
  margin: 0;
  font-size: 14px;
}
#detail_Products .product_padding .product_text {
  margin-bottom: 20px;
  font-weight: 600;
}
#detail_Products .product_padding .product_text h5 {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
#detail_Products .product_padding .product_text span {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}
#detail_Products .product_padding .accordion {
  font-weight: 600;
  font-size: 14px;
}
#detail_Products .product_padding .accordion a {
  text-decoration: none;
}
#detail_Products .product_padding .accordion button {
  font-weight: 600;
}
#detail_Products .product_padding .accordion .accordion-body img {
  width: 100%;
}
#detail_Products .product_padding .accordion .accordion-body ul {
  list-style: none;
  padding: 0;
}

#free {
  margin: 50px 0;
}
#free ul {
  list-style: none;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  display: flex;
}
#free ul li {
  background: #f7f8fa;
  padding: 20px;
  text-align: center;
  margin: 3px;
  width: 100%;
}
#free ul li .ChuNgangModal {
  background: none;
  border: none;
  margin-bottom: 5px;
}
#free ul li .ChuNgangModal span {
  text-decoration: underline;
  font-weight: 600;
}
#free ul li .modal .modal-body img {
  width: 100%;
  margin-bottom: 10px;
}
#free ul li .modal .modal-body p {
  text-align: left;
}
#free ul li .modal .modal-body ul {
  display: block;
}
#free ul li .modal .modal-body ul li {
  background: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
#free ul li .modal .modal-footer a {
  padding: 20px;
  font-size: 16px;
  color: chocolate;
}

#different {
  padding-bottom: 50px;
}
#different .different_items .different_item1 {
  width: 349px;
  text-align: center;
  padding: 20px;
}
#different .different_items .different_item1:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#different .different_items .different_item1 .different_img a img {
  width: 100%;
}
#different .different_items .different_item1 .different_content h2 a {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
#different .different_items .different_item1 .different_content .different_price span {
  font-size: 14px;
  font-weight: 600;
}

#canCare {
  padding-bottom: 50px;
}
#canCare .canCare_items .canCare_item {
  width: 349px;
  text-align: center;
  padding: 20px;
}
#canCare .canCare_items .canCare_item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#canCare .canCare_items .canCare_item .canCare_img a img {
  width: 100%;
}
#canCare .canCare_items .canCare_item .canCare_content h2 a {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
#canCare .canCare_items .canCare_item .canCare_content .canCare_price span {
  font-size: 14px;
  font-weight: 600;
}

#ganCuoi {
  padding-bottom: 50px;
}
#ganCuoi .ganCuoi_items .ganCuoi_item {
  width: 349px;
  text-align: center;
  padding: 20px;
}
#ganCuoi .ganCuoi_items .ganCuoi_item .ganCuoi_img a {
  display: block;
  position: relative;
  overflow: hidden;
}
#ganCuoi .ganCuoi_items .ganCuoi_item .ganCuoi_img a:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  z-index: 1;
}
#ganCuoi .ganCuoi_items .ganCuoi_item .ganCuoi_img a img {
  border-radius: 6px;
  width: 100%;
}
#ganCuoi .ganCuoi_items .ganCuoi_item .ganCuoi_content h2 a {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

@media (min-width: 0px) and (max-width: 576px) {
  #detail_Products .product_padding .product_promotion button {
    padding: 1px 30px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #ButtonHD {
    right: 0;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-header .offcanvas-title {
    font-size: 16px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body {
    font-size: 9px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent {
    font-size: 14px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu {
    display: block !important;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu img {
    max-width: 100%;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .anhVaHuongDan img {
    max-width: 100%;
  }
  #free ul {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #detail_Products .product_padding .product_promotion button {
    padding: 1px 15px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #ButtonHD {
    right: 50px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-header .offcanvas-title {
    font-size: 16px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body {
    font-size: 16px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent {
    font-size: 16px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu {
    display: block !important;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu img {
    max-width: 100%;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .anhVaHuongDan img {
    max-width: 100%;
  }
  #detail_Products .product_padding .product_themVaTim .btnThem {
    width: 88%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #detail_Products .product_padding .product_header #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu {
    display: block !important;
    text-align: center;
  }
  #detail_Products .product_padding .product_themVaTim .btnThem {
    width: 92% !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #detail_Products .product_padding .product_promotion button {
    padding: 1px 30px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #ButtonHD {
    right: 5px;
  }
  #detail_Products .product_padding .product_themVaTim .btnThem {
    width: 83%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #detail_Products .product_padding .product_promotion button {
    padding: 1px 15px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #ButtonHD {
    right: 50px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu {
    display: block !important;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu img {
    max-width: 100%;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .anhVaHuongDan img {
    max-width: 100%;
  }
  #detail_Products .product_padding .product_themVaTim .btnThem {
    width: 86%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  #detail_Products .product_padding .product_promotion button {
    padding: 1px 20px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #ButtonHD {
    right: 30px;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu {
    display: block !important;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu img {
    max-width: 100%;
  }
  #detail_Products .product_padding .product_header .product_huongDan #offcanvasRight .offcanvas-body #myTabContent .anhVaHuongDan img {
    max-width: 100%;
  }
  #detail_Products .product_padding .product_themVaTim .btnThem {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu {
    display: block !important;
  }
  #offcanvasRight .offcanvas-body #myTabContent .hinhAnhVaChu img {
    max-width: 100%;
  }
}
.slick-slide img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header_topbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #CC2027;
  height: 46px;
}
header .header_topbar a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header .navbar .logo img {
  display: block;
  width: 100%;
  margin-top: 18px;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin-top: 16px;
}
header .navbar ul .branch .branch_menu {
  margin: 0 14px;
  padding: 25px 0;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
header .navbar ul .branch .level_2 {
  display: none;
}
header .navbar ul .branch .level_2 img {
  width: 100%;
}
header .navbar ul .branch .level_2 ul {
  display: block;
}
header .navbar ul .branch .level_2 ul .active {
  color: black;
  font-weight: 700;
}
header .navbar ul .branch .level_2 ul a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
header .navbar ul .branch .level_2 li:hover a {
  text-decoration: underline;
}
header .navbar ul .branch .level_2 .new_item {
  padding: 10px;
}
header .navbar ul .branch .level_2 .new_item img {
  width: 100%;
}
header .navbar ul .branch .level_2 .new_item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header .navbar ul .branch .level_2 .level_3 {
  padding-left: -100%;
}
header .navbar ul .branch .level_2 .phukien {
  display: flex;
}
header .navbar ul .branch .level_2 .giay {
  margin-right: 50px;
}
header .navbar ul .branch .level_2 .giay img {
  width: 100%;
}
header .navbar ul .branch .level_2 .giay h6 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
header .navbar ul .branch .level_2 .giay .btn {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 15px;
  color: white;
  margin-left: 20%;
}
header .navbar ul .branch .level_2 .giay .btn:hover {
  background-color: rgba(0, 0, 0, 0.43);
}
header .navbar ul .branch:hover .level_2 {
  display: block;
  border: none;
  margin-left: -10%;
  margin-top: 20px;
}
header .navbar ul .branch:hover .level_2 .new_item {
  margin: 0 20px;
  padding: 10px;
}
header .navbar ul .branch:hover .level_2 .new_item p {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
header .navbar .form_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .navbar .form_user .search {
  display: flex;
}
header .navbar .form_user .search .btn {
  margin-left: -42px;
}
header .navbar .form_user .user {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-right: 15px;
}
header .navbar .form_user .user li {
  width: 20px;
}
header .navbar .form_user .user li a {
  color: black;
}

footer h4 {
  font-size: 14px;
  font-weight: 700;
  color: black;
}
footer .address a {
  text-decoration: underline;
  color: black;
  font-size: 14px;
}
footer .address ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
footer .address ul a {
  display: flex;
  text-decoration: none;
  font-size: 16px;
}
footer .address ul a i {
  margin: 5px 5px 0 0;
}
footer .address .social ul {
  display: flex;
  justify-content: start;
}
footer .address .social ul a {
  font-size: 16px;
  padding-right: 10px;
}
footer .footer_content ul {
  list-style: none;
  padding: 0;
}
footer .footer_content ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
footer img {
  width: 150px;
}
footer span {
  font-size: 14px;
}
footer li:hover {
  text-decoration: underline;
}

.carousel {
  text-align: center;
  font-weight: 700;
  position: relative;
}
.carousel img {
  width: 100%;
}
.carousel h3 {
  font-size: 48px;
}
.carousel p {
  font-size: 28px;
}
.carousel .carousel_content {
  position: absolute;
  top: 30%;
  left: 40%;
}
.carousel .carousel_content .btn {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  font-weight: 700;
}
.carousel .carousel_content .btn:hover {
  background-color: rgba(0, 0, 0, 0.43);
}
.carousel .carousel-control-prev .carousel-control-prev-icon, .carousel .carousel-control-prev .carousel-control-next-icon, .carousel .carousel-control-next .carousel-control-prev-icon, .carousel .carousel-control-next .carousel-control-next-icon {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.74);
}

.product .product_item {
  text-align: center;
  margin: 40px 0;
}
.product .product_item h2 {
  margin-bottom: 30px;
}
.product .product_item img {
  width: 100%;
  padding: 10px;
}
.product .product_item a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 10px 5px;
}
.product .item_content:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product .banner {
  text-align: center;
}
.product .banner h2 {
  font-size: 20px;
  margin-bottom: 13px;
}
.product .banner .banner_item {
  padding: 10px;
}
.product .banner .banner_item img {
  width: 100%;
}
.product .banner .banner_item .item {
  padding: 10px 20px;
}
.product .banner .banner_item .item .btn {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 15px;
}
.product .banner .banner_item .item .btn:hover {
  background-color: rgba(0, 0, 0, 0.43);
}
.product .banner_item:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product .news img {
  width: 100%;
}
.product .feedback .content_item {
  margin-bottom: 25px;
  position: relative;
}
.product .feedback .content_item .overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.407);
}
.product .feedback .content_item .overlay .overlay_item {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 50%;
  height: 50%;
  background-color: rgba(249, 243, 243, 0);
}
.product .feedback .content_item .overlay .overlay_item i {
  position: absolute;
  left: 35%;
  top: -20%;
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.product .feedback .content_item .overlay .overlay_item .btn {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  font-weight: 700;
  color: white;
}
.product .feedback .content_item .overlay .overlay_item .btn:hover {
  background-color: rgba(0, 0, 0, 0.43);
}
.product .feedback .content_item:hover .overlay {
  opacity: 1;
}

.letter {
  margin: 40px 0;
  padding: 20px;
  background-color: #EFF0F2;
}
.letter .letter_content {
  padding-left: 40px;
}
.letter .letter_content h2 {
  font-size: 18px;
}
.letter .letter_content a {
  text-decoration: underline;
  color: black;
}/*# sourceMappingURL=style.css.map */