<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>

  <body>
    <section id="detail_Products">
      <div class="container">
        <div class="row">
          Trang chủ > TẤT CẢ CÁC SẢN PHẨM > ECCO SOFT CLASSIC W
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div
              id="carouselExampleIndicators"
              class="carousel slide carousel-dark"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../../assets/img/white_85768301007_a__1__e96625e53cc94c77819e51b9d186bd77_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 1"
                  />
                </div>

                <div class="carousel-item">
                  <img
                    src="../../assets/img/white_85768301007_a__3__66a5504a83534d2b8f75329f25ea160d_master.jpg"
                    class="d-block w-100"
                    alt="Giầy trắng 3"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../assets/img/white_85768301007_a__4__b540f0eb65a04446b55424a9d63b02bd_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 4"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../assets/img/white_85768301007_a__5__8723d97716254f518aba744077868ea7_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 5"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../assets/img/white_85768301007_a__6__6a17d6bd0c7545fa8e42b8056f7c27d8_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 6"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../assets/img/white_85768301007_a__7__3421cb7b6b72489f95c9bf4064a315e8_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 7"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../assets/img/white_85768301007_a__8__862d254a909a45578e6e76e9ba221d7b_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 8"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                >
                  <img
                    src="../../assets/img/white_85768301007_a__1__e96625e53cc94c77819e51b9d186bd77_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 1"
                  />
                </button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                >
                  <img
                    src="../../assets/img/white_85768301007_a__3__66a5504a83534d2b8f75329f25ea160d_master.jpg"
                    class="d-block w-100"
                    alt="Giầy trắng 3"
                  />
                </button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                >
                  <img
                    src="../../assets/img/white_85768301007_a__4__b540f0eb65a04446b55424a9d63b02bd_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 4"
                  />
                </button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                >
                  <img
                    src="../../assets/img/white_85768301007_a__5__8723d97716254f518aba744077868ea7_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 5"
                  />
                </button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                >
                  <img
                    src="../../assets/img/white_85768301007_a__6__6a17d6bd0c7545fa8e42b8056f7c27d8_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 6"
                  />
                </button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="5"
                  aria-label="Slide 6"
                >
                  <img
                    src="../../assets/img/white_85768301007_a__7__3421cb7b6b72489f95c9bf4064a315e8_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 7"
                  />
                </button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="6"
                  aria-label="Slide 7"
                >
                  <img
                    src="../../assets/img/white_85768301007_a__8__862d254a909a45578e6e76e9ba221d7b_master.jpg"
                    class="d-block w-100"
                    alt="Giày trắng 8"
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product_title">
              <h1>ECCO SOFT CLASSIC W</h1>
            </div>
            <div class="product_price">
              <span class="new_price">4,790,000₫ </span>
            </div>
            <div class="product_promotion">
              <p class="promotion_title">HAPPY BAG</p>
              <b>
                GIẢM 10% CHO TÚI XÁCH, BÓP VÍ & DÂY NỊT <br />
                (giá khuyến mãi đã được áp dụng trên wedsite )
              </b>

              <span
                class="d-inline-block"
                tabindex="0"
                data-bs-placement="left"
                data-bs-toggle="popover"
                data-bs-trigger="hover focus"
                data-bs-content="Không áp dụng cho hàng giảm giá từ 50% trở lên"
              >
                <button class="btn btn-primary" type="button">
                  <i class="fa-solid fa-circle-info"></i>
                </button>
              </span>
            </div>
            <div class="product_header">
              Màu sắc:
              <span class="color_title">White</span>
            </div>
            <div class="product_img"></div>
            <div class="product_header">
              Kích thước:
              <span class="size_title"> </span>
              <div class="product_huongDan">
                <button
                  class="btn btn-primary"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight"
                >
                  Hướng dẫn chọn kích thước
                </button>

                <div
                  class="offcanvas offcanvas-end"
                  tabindex="-1"
                  id="offcanvasRight"
                  aria-labelledby="offcanvasRightLabel"
                >
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">
                      Offcanvas right
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="offcanvas"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="offcanvas-body">...</div>
                </div>
              </div>
            </div>
            <div class="product_size">
              <span>35</span>
              <span>36</span>
              <span>37</span>
              <span>38</span>
              <span>39</span>
              <span>40</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="../../js/detail.js"></script>
  </body>
</html>
